# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

# MyPy
.mypy_cache/

# Pyre
.pyre/

# Pytype
.pytype/

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# dotenv
.env
*.env

# MacOS
.DS_Store

# Logs
*.log
*.pkl

